name: Build & Release

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Compile PDF
        uses: xu-cheng/latex-action@v3
        with:
          root_file: resume*.tex

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: resume
          path: resume*.pdf

  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: resume

      - name: Get Time
        uses: josStorer/get-current-time@v2
        id: time
        with:
          format: MMMM YYYY

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: resume.pdf
          body: My resume as of ${{ steps.time.outputs.formattedTime }}.

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: resume

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Create Index
        run: echo '<meta http-equiv="refresh" content="0; url=https://ruminateer.github.io/resume/resume.pdf" />' > index.html

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v4
